{% extends "homepage.html" %}
{% block content %}
<div style="width:800px;?border-width:50px;">
		<a class="dropdown-item" href="/manage/{{ISIN}}/" style ="background-color:#B0C9CD;width:100px;height:100px;display:inline;color:#FDFDFD;">vehicle list</a>
		<a class="dropdown-item" href="/addCar/{{ISIN}}/" style ="background-color:#85ABBC;width:100px;height:100px;display:inline;color:#FDFDFD;">add car</a>
		<a class="dropdown-item" href="/addTruck/{{ISIN}}/" style ="background-color:#B0C9CD;width:100px;height:100px;display:inline;color:#FDFDFD;">add pickup truck</a>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<div class="col-md-8">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a new Car</legend>
                <div class="form-group">
                    {{ form.v_id.label(class="form-control-label") }}

                    {% if form.v_id.errors %}
                        {{ form.v_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.v_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.v_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.brand.label(class="form-control-label") }}

                    {% if form.brand.errors %}
                        {{ form.brand(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.brand.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.brand(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.model.label(class="form-control-label") }}

                    {% if form.model.errors %}
                        {{ form.model(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.model.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.model(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.year.label(class="form-control-label") }}
                    {% if form.year.errors %}
                        {{ form.year(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.seat_num.label(class="form-control-label") }}
                    {% if form.seat_num.errors %}
                        {{ form.seat_num(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.seat_num.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.seat_num(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
   </div>
</div>
{% endblock content %}